@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.form {
    display: flex;
    gap: 2rem;
    padding: $mobile-padding-between-components;

    @include tablet {
        padding: $tablet-between-components;
    }

    @include desktop {
        border-right: 1px solid $primary-silver;
        padding: 0 $mobile-padding-between-components $tablet-between-components 0;
    }

    &__label {
        color: $primary-silver;
        font-weight: 600;
        margin-bottom: 0.5rem;
        text-align: left;

        @include tablet {
            position: absolute;
            top: -30px;
            left: 0;
        }
    }

    &__img {
        margin-top: 1.5rem;
        border-radius: 50%;

        max-width: 3rem;
        max-height: 3rem;

        @include tablet {
            margin-top: 0;
        }
    }

    &__container {
        width: 90%;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            position: relative;
        }
    }

    &__input {
        font-family: "AvenirNext LT Pro", Arial, Helvetica, sans-serif;
        font-size: large;
        resize: none;
        width: 95%;
        min-height: 4.5rem;
        border-radius: 0.25rem;
        padding: 0.75rem;
        margin: 0 $mobile-padding-between-components 0.75rem 0;
        color: $primary-brainflix-black;
        background-color: $secondary-alabaster;
        border: 1px solid $secondary-mercury;

        @include tablet {
            margin: 0 $tablet-between-components 0 0;
            min-height: 4rem;
            padding-left: $mobile-padding-between-components;
        }
    }

    &__button {
        font-size: large;
        margin-left: 0;
        background-color: $primary-brainflix-blue;
        background-image: url('../../assets/icons/add_comment.svg');
        background-repeat: no-repeat;
        background-position: 1rem;
        color: $primary-white;
        height: 4rem;
        width: 100%;
        border-radius: 0.25rem;
        border: 0;

        @include tablet {
            width: 18rem;
            height: 3.8rem;
        }
    }
}

.comments {
    list-style-type: none;
    width: 100%;

    &__list {
        text-align: left;
    }

    &__hr {
        margin: 0 $mobile-padding-between-components;

        @include tablet {
            margin: 0 $tablet-between-components;
        }

        @include desktop {
            margin: 0;
        }
    }

    &__li-container {
        display: flex;
        width: 100%;
        gap: 2rem;
        padding: $mobile-padding-between-components;

        @include tablet {
            padding: $mobile-padding-between-components $tablet-between-components;
        }

        @include desktop {
            padding: $mobile-padding-between-components 0;
        }
    }

    &__li-img {
        background-color: $secondary-mercury;
        border-radius: 50%;

        width: 3rem;
        height: 3rem;
    }

    &__li-main {
        width: 90%;
        position: relative;
    }

    &__li-date {
        position: absolute;
        top: 0;
        right: 0;
        color: $primary-silver;
        padding-right: $mobile-padding-between-components;

        @include tablet {
            padding-right: $tablet-between-components;
        }

        @include desktop {
            padding-right: $mobile-padding-between-components;
        }
    }

    &__li-comment {
        padding-top: $mobile-padding-between-components;
        padding-right: $mobile-padding-between-components;

        @include tablet {
            padding-top: $tablet-between-components;
            padding-right: $tablet-between-components;
        }

        @include desktop {
            padding-right: $mobile-padding-between-components;
        }
    }
}