@use "./styles/partials/tyography" as *;
@use './styles/partials/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AvenirNext LT Pro", Montserrat, Lato, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mobile-hiden {
  display: none;
  @include tablet {
      display: initial;
  }
}

.tablet-hiden {
  @include tablet {
      display: none;
  }
}