@use "./styles/partials/tyography" as *;
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "AvenirNext LT Pro", Montserrat, Lato, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
