@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.container {
    @include desktop {
        display: flex;
        justify-content: space-between;
        padding: 0 $desktop-between-components;
    }

    &__left {
        border-right: 1px solid $primary-silver;

        @include desktop {
            width: 70%;
        }
    }

    &__right {
        @include desktop {
            width: 30%;
        }
    }
}

.video {
    background-color: $primary-brainflix-black;
    width: 100%;

    @include tablet {
        padding: 0 $tablet-between-components;
    }

    @include desktop {
        padding: 0 $desktop-between-components;
    }
}

